.Task{
    width: 200px;
    height: 34px;
    padding: 6px;
    border: 2px;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.dateRecord{
    width: 150px;
    height: 34px;
    padding: 6px;
    border: 2px;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.addButton{
    width: 100px;
    height: 46px;
    padding: 6px;
    border: 2px;
    border-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: green;
    color: white;
}
.delButton{
    width: 100px;
    height: 46px;
    padding: 6px;
    border: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(150, 29, 29);
    color: white;
    margin-bottom: 8px;
}
